html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

h1{
    justify-self: center;
}

#game {
    width: 800px;
    height: 600px;
    justify-self: center;
    display: block;
}
